<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Catalog</title>
</head>


<body>
    <div class="container mt-5">
        <a th:href="@{/cadastro}" class="btn btn-success mb-4">Novo Produto</a>
        <h1 class="mb-4">Vitrine de Produtos</h1>

        <form class="row mb-4" method="GET" action="/">
            <div class="col-md-8">
                <input type="text"
                       class="form-control"
                       name="busca"
                       placeholder="Buscar pelo nome do produto..."
                       th:value="${term}">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a th:href="@{/}" class="btn btn-secondary ml-2">Limpar</a>
            </div>
        </form>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" th:each="product : ${products}">
                <div class="card h-100 shadow-sm">
                    <img th:src="${product.urlImage}"
                         alt="Imagem do Produto"
                         class="card-img-top"
                         style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}">Nome do Produto</h5>
                        <p class="card-text text-success fw-bold"
                           th:text="${#numbers.formatCurrency(product.price)}">
                           R$ 0,00
                        </p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/produto/{id}(id=${product.id})}"
                            class="btn btn-sm btn-outline-primary">
                            Ver mais informações
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${products.isEmpty()}" class="alert alert-warning mt-4" role="alert">
            Nenhum produto localizado para o termo da busca.
        </div>
    </div>
</body>

</html>