<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Catálogo</title>
</head>

<body>
    <div class="container mt-5 ">
        <h1 class="mb-4" method="" action="">Vitrine de Produtos</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" name="busca" placeholder="Buscar pelo nome do produto...">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a class="btn btn-secondary">Limpar</a>
            </div>
        </form>
        <div class="row row-cols-1  row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="" alt="Imagem do Produto" class="card-img-top" style="height: 200px; object-fit: cover;" >
                    <div class="card-body">
                        <h5 class="card-title">Nome do Produto</h5>
                        <p class="card-text text-success fw-bold">R$ 0,00</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-out-primary">Ver mais informações</a>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="container mt-5">
            <a th:href="@{/cadastro}" class="btn btn-success mb-4">Novo Produto</a>
                <div class="alert alert-warning mt-4" role="alert">
                    Nenhum produto localizado para o termo da busca.
                </div>
            </div>

        </div>
    </div>

</body>

</html>