<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Detalhe</title>
</head>
<body>
    <div class="container mt-5">
        <a th:href="@{/}" class="btn btn-outline-secondary mb-4">Voltar ao Catálogo</a>
        <h1 th:text="${product.id} ? 'Editar Produto' : 'Cadastro Novo' ">Cadastrar Novo Produto</h1>
        <form th:object="${product}" th:action="@{/cadastro}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="" class="form-label">Nome do Produto</label>
                <input id="nome" th:field="*{name}" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Preço do Produto</label>
                <input th:field="*{price}" id="price" step="0.01" type="number" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Descrição</label>
                <textarea name="" id="description" th:field="*{description}" class="form-control" rows="4" required> </textarea>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Imagem</label>
                <input th:field="*{urlImage}" type="text" class="form-control" required placeholder="Ex: novo_produto.jpg">
            </div>
            <button type="submit" class="btn btn-success">Salvar Produto</button>
        </form>
    </div>
</body>
</html>